@(socketURL: String)

<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
        <div id = 'socket' data-url = @socketURL></div>
        
        <div id = 'chatbox' style = "position: fixed; left: 0%; width: 75%; height: 75%; background-color: white; overflow: auto">
            
        </div>

        <div style = "position: fixed; bottom: 0; left:0; width: 75%; height: 15%; margin-bottom: 3px; text-align: center">
            <input type="text" id="send-text" style = "position: relative; width: 80%">
            <button id="send" type="submit" class="btn btn-primary btn-lg btn-block">Send</button>
        </div>
        <div style = "position: absolute; bottom: 0; right:0; width: 25%; height: 100%; background-color:grey; border: 2px solid black">
            
        </div>

    <script type='text/javascript' src='@routes.Assets.versioned("javascripts/jquery.js")'></script>
    <script type='text/javascript' src='@routes.Assets.versioned("javascripts/chat.js")'></script>
    
    <script>
      $(document).ready(function(){
          var websocket = ws()
      })
    </script>
    </body>
</html>
